<html>
  <head>
    <title>serve</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body class="dark:bg-gray-900 dark:text-white">
    <main class="max-w-4xl ml-auto mr-auto px-2">
      <h1 class="mt-2 text-2xl font-semibold">
        Content of folder {{ base_dir }}
      </h1>

      <div class="flex gap-1 text-gray-600 dark:text-gray-300">
        {% for entry in breadcrumbs %}
          <span>
            <a href="/{{entry}}" class="text-blue-500
                  underline
                  hover:text-blue-600
                  dark:text-blue-300 
                  dark:hover:text-blue-200">{{entry}}</a>
            {% if not loop.last %}
              &gt;
            {% endif %}
          </span>
        {% endfor %}
      </div>

      <table class="mt-4 w-full">
        <thead>
          <tr>
            <th class="text-left p-1 border-b border-black border-opacity-25">File</th>
            <th class="text-left p-1 border-b border-black border-opacity-25">Last modified</th>
            <th class="text-right p-1 border-b border-black border-opacity-25">Size</th>
          </tr>
        </thead>
        <tbody>
          {% if parent %}
          <tr class="inline-flex">
            <td class="p-1">
              <a
                href="{{ parent }}"
                class="
                  inline-flex
                  items-center
                  text-blue-500
                  underline
                  hover:text-blue-600
                  dark:text-blue-300 
                  dark:hover:text-blue-200
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 mr-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 19l-7-7 7-7"
                  />
                </svg>
                Back
              </a>
            </td>
          </tr>
          {% endif %}
          {% for entry in entries %}
          <tr>
            <td class="p-1">
              <a
                class="
                  inline-flex
                  items-center
                  text-blue-500
                  underline
                  hover:text-blue-600
                  dark:text-blue-300 
                  dark:hover:text-blue-200
                "
                href="/{{ entry.path }}"
              >
                {% if entry.is_directory %}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 mr-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
                  />
                </svg>
                {% else %}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 mr-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"
                  />
                </svg>
                {% endif %}
                {{ entry.name }}
              </a>
            </td>

            <td class="p-1">
              {{ entry.last_modified }}
            </td>

            <td class="p-1 text-right">
              {{ entry.size }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
